.team {
    position: relative;
    z-index: 2;
    padding-top: 80px;
    padding-bottom: 156px;

    @media screen and (max-width: 600px) {
        padding-top: 34px;
        padding-bottom: 48px;
    }

    .l-default {
        max-width: 1298px;
    }

    &__subtitle {
        font-size: 37px;
        line-height: 120%;
        font-weight: 900;
        text-align: center;
        color: #C7EED4;
        margin-bottom: 51px;

        @media screen and (max-width: 1199px) {
            font-size: 24px; 
        }

        @media screen and (max-width: 600px) {
            font-size: 19px; 
            margin-bottom: 13px;   
        }
    }

    &__slider {
        position: relative;
        &-arrow {
            z-index: 2;
            cursor: pointer;

            @media screen and (max-width: 600px) {
                width: 32px;
            }

            &--prev {
                position: absolute;
                top: 50%;
                left: 33.3333%;
                transform: translate(-50%, -50%);

                @media screen and (max-width: 1199px) {
                    left: 200px;
                    transform: translate(0);
                }

                @media screen and (max-width: 600px) {
                    left: 10px;
                }
            }

            &--next {
                position: absolute;
                top: 50%;
                right: 33.3333%;
                transform: translateY(-50%) translateX(50%) rotate(180deg);

                @media screen and (max-width: 1199px) {
                    right: 200px;
                    transform: translate(0) rotate(180deg);
                }

                @media screen and (max-width: 600px) {
                    right: 10px;
                }
            }
        }
    }

    &__slide {
        color: #fff;
        text-align: center;
        &-img {
            position: relative;
            display: flex;
            justify-content: center;
            margin-bottom: 26px;

            img {
                position: relative;
                width: calc(100% - 9px);
                z-index: 2;
                margin: 0 auto 9px;

                @media screen and (max-width: 1199px) {
                    max-width: 221px;
                }
            } 

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                width: calc(100% - 9px);
                max-width: 332px;
                height: 347px;
                border: 9px solid #50FFFF;

                @media screen and (max-width: 1199px) {
                    width: 211px;
                    height: 224px;
                    border: 6px solid #50FFFF;
                }
            }
        }

        &-name {
            font-size: 48px;
            line-height: 120%;
            font-weight: 900;
            color: #C7EED4;
            margin-bottom: 5px;

            @media screen and (max-width: 600px) {
                font-size: 30px;
            }
        }

        &-position {
            font-size: 20px;
            line-height: 120%;
            margin-bottom: 25px;
            
            @media screen and (max-width: 600px) {
                font-size: 17px;
                margin-bottom: 18px;
            }
        }

        &-text {
            font-size: 20px;
            line-height: 120%;

            @media screen and (max-width: 600px) {
                font-size: 16px;
            }
        }
    }

    .swiper-container {
        overflow: visible;
    }

    .swiper-slide {
        opacity: 0;
        transition: all .4s ease-in-out;

        &-active, &-next, &-prev {
            opacity: 1;
        }

        &-next, &-prev {
            opacity: 0.7;
            filter: blur(5px);
        }

        &-duplicate {
            &-active, &-next, &-prev {
                opacity: 1;
            }
            
            &-next, &-prev {
                opacity: 0.7;
                filter: blur(5px);
            }
        }
    }

    .back {
        position: absolute;
        z-index: 1;
        left: -600px;
        bottom: -500px;

        @media screen and (max-width: 1499px) {
            left: -150px;
            bottom: -100px;
            width: 212px;
        }
    }
}