section.problems
    .back   
        img(src="img/svg/main-top/back.svg", alt="")
    .l-default 
        h2.problems__title.title.title--h2 Какие проблемы инвесторов
        .problems__subtitle мы хотим затронуть на марафоне
        .problems__columns
            .problems__column
                .problems__item
                    .problems__item-number 1
                    .problems__item-text Страх инвестировать куда-либо вообще после всех событий 2022 года
                .problems__item
                    .problems__item-number 2
                    .problems__item-text Поиск альтернативы доллару и евро на фоне риска блокировки НКЦ
                .problems__item
                    .problems__item-number 3
                    .problems__item-text В очередной раз попасть в просак из-за возможной блокировки активов
            .problems__column
                .problems__img
                    +webp(['problems/1'], 'png', 'lazy')
            .problems__column
                .problems__item
                    .problems__item-number 4
                    .problems__item-text Невозможность инвестировать в другие рынки из РФ
                .problems__item
                    .problems__item-number 5
                    .problems__item-text Постоянная волатильность после большого цикла роста рынка
                .problems__item
                    .problems__item-number 6
                    .problems__item-text Закрывать позиции на больших просадках и идти вперед