section.main-top
    .back--top 
        img(src="img/svg/main-top/back-top.svg", alt="")
    .back 
        img(src="img/svg/main-top/back.svg", alt="")
    .rocket 
        +webp(['main-top/rocket'], 'png')
    .l-default 
        .main-top__wrapper
            .main-top__info
                .main-top__subtitle Бесплатный марафон от команды Invest Heroes
                h1.main-top__title.title.title--h1 <span>Пере</span>запуск <br>портфеля
                .main-top__img 
                    +webp(['main-top/1'], 'png')
                .main-top__text Научим, как заставлять работать деньги на вас в условиях большой неопределенности 
                a.main-top__btn.btn.btn--green.scroll(href="#horizontal-form") Присоединиться
        .line 
            img(src="img/svg/main-top/line.svg", alt="")