section.description
    .l-default  
        h2.description__title.title.title--h2 В 2022 году на рынке была<br> масса потрясений
        .description__subtitle и это проверило инвесторов на прочность
        .description__text Мы запустили этот марафон, чтобы те:
        .description__items.swiper-container 
            .swiper-wrapper 
                .description__item.swiper-slide
                    .description__item-img
                        img(src="img/svg/description/1.svg", alt="")
                    .description__item-text Кто много потерял и запутался – снова смог нащупать ориентиры и составить прибыльную стратегию, которую (это важно!) в состоянии исполнить  
                .description__item.swiper-slide
                    .description__item-img
                        img(src="img/svg/description/2.svg", alt="")
                    .description__item-text Кто хочет использовать биржу, чтобы заработать на текущих событиях – смог увидеть главные тренды, на которые правильно ставить сейчас
                .description__item.swiper-slide
                    .description__item-img
                        img(src="img/svg/description/3.svg", alt="")
                    .description__item-text Кто задумывается как пройти кризис. Все понимают, что уже сейчас начался финансовый ад, и куда бы ты не вложил деньги, везде они могут сгореть и обесцениться. Мы расскажем, на что опереться чтобы хотя бы сохранить
            .description__items-pagination.swiper-pagination
        .line 
            img(src="img/svg/main-top/line.svg", alt="")