section.statistics
    .line.line-top
    .line.line-bottom
    .l-default 
        h2.statistics__title.title.title--h2 НЕМНОГО О НАШИХ РЕЗУЛЬТАТАХ
        .statistics__subtitle тут будет подзаголовок
        .statistics__items
            .statistics__column
                .statistics__item
                    .statistics__item-info
                        .statistics__item-number 20 000+
                        .statistics__item-text Обучили на бесплатных курсах
                    .statistics__item-icon
                        img(src="img/svg/statistics/book.svg", alt="")
                .statistics__item
                    .statistics__item-info
                        .statistics__item-number 20 000+
                        .statistics__item-text Обучили на бесплатных курсах
                    .statistics__item-icon
                        img(src="img/svg/statistics/database.svg", alt="")
            .statistics__column
                .statistics__raitings
                    .statistics__raitings-title Входим <br>в рейтинги
                    .statistics__raitings-logo  
                        img(src="img/svg/statistics/refinitiv.svg", alt="")
                    .statistics__raitings-logo
                        img(src="img/svg/statistics/factset.svg", alt="")
                    .statistics__raitings-logo
                        img(src="img/svg/statistics/cbonds.svg", alt="")
            .statistics__column
                .statistics__item
                    .statistics__item-info
                        .statistics__item-number 3 500+
                        .statistics__item-text Доверяют нашей аналитике
                    .statistics__item-icon
                        img(src="img/svg/statistics/ok.svg", alt="")
                .statistics__item
                    .statistics__item-info
                        .statistics__item-number 500 м руб+
                        .statistics__item-text В нашем партнерском фонде с УК Арикапитал
                    .statistics__item-icon
                        img(src="img/svg/statistics/layers.svg", alt="")