section.horizontal-form#horizontal-form
    .back 
        img(src="img/svg/main-top/back.svg", alt="")
    .l-default
        .horizontal-form__wrapper
            .horizontal-form__img 
                +webp(['main-top/1'], 'png')
            include .././form/form.pug 
        .line 
            img(src="img/svg/main-top/line.svg", alt="")